<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="ch.jbert" level="DEBUG"/>
    <logger name="ch.jbert.event" level="DEBUG"/>
    <logger name="ch.jbert.gpio" level="DEBUG"/>
    <logger name="ch.jbert.mpd" level="DEBUG"/>
    <logger name="ch.jbert.rfid" level="DEBUG"/>
    <logger name="ch.jbert.util" level="DEBUG"/>

    <logger name="org.bff.javampd" level="ERROR"/>
    <logger name="io.micronaut" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>
</configuration>
